@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.menu-wrapper {
  background-color: $background;
  padding: 6rem 0;
  scroll-margin-top: 15rem;

  .menu {
    @include max-width;

    .list {
      list-style: none;
    }
  }
}
