$gradient1: #912532;
$gradient2: #c91d32;
$button: #e32038;
$white: #ffffff;
$background: #1c2123;
$gold: #dc9457;
$lightBlack: #25313c;

$fontFamily: 'Rubik', sans-serif;

$marginBottom: 16rem;
$marginBottomMobile: 8rem;
